server:
  port: 3000

jwt:
  public_key: "myPubl1Ck3Y"

databases:
  master:
    conn_string: "root:toor@tcp(localhost:3306)/profiling"
    driver: "mysql"
  follower:
    driver: "mysql"
    conn_string: "root:toor@tcp(localhost:3306)/profiling"

redis:
  address: ""
  timeout: 5
  max_iddle: 10
  max_active: 10

notifications:
  telegram:
    is_active: false
    bot_token: ""
    chat_id:
  slack:
    is_active: false
    webhook_url: ""